  <div parallax id="bg" class="bg img-responsive"></div>
  <div class="row">
    <div class="jumbotron">
      <div class="row">
        <div class="black-overlay"></div>
        <div class="col-lg-offset-5 col-md-offset-5 col-sm-offset-4 col-lg-2 col-md-2 col-sm-4 col-xs-12">
          <div id="logo" class="img-responsive animated fadeInUp"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          <a ui-sref='library' id="heroBtn" class="text-center button animated fadeInUp"><span>BROWSE LIBRARY</span></a>
        </div>
      </div>
    </div>
    
  </div>
  
  <div class="row" id="featured" style="padding-bottom:110px;background:white">
    <div class="subheading text-center" style="padding:50px;background:white">FEATURED WORK</div>
  	<div class="container">
  		<div class="row">
  			<div class="col-md-4" style="padding-top: 20px;" ng-repeat='video in videos | limitTo : 6'>
  				<div class="grid" data-toggle="modal">
  					<figure class="effect-romeo">
  					<img ng-click='video.view()' class="img-responsive" src="{{ video.thumbnails.large }}"/>
  	    <!-- Button trigger modal -->
  					</figure>
  				</div>
  			</div>
  		</div>
  	</div>
  </div>

  <div class="row" id="about" style="overflow: hidden;">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-3">            
        <p class="about heading text-center">Wolf & Rabbit is a Brooklyn, NY based creative audio studio. We compose and license music for commercials, film, corporate videos and other projects. Our talented team will work with you to create story driven music that evokes emotion and drives results.</p>
      </div>
    <div class="jumbotron jumbotron2">
      <div remove id="bg2" class="bg-2 img-responsive"></div>
    </div>
  </div>
