<div id="libaryContainer" style="padding-top:122px;background:white">
  <div class="row">
    <div class="col-md-3 col-sm-3 col-xs-12 left-col">
      <div class="col-md-12 col-sm-12 col-xs-12 text-center" style="padding:50px;">
        <span class="sidebar-heading">FILTERS</span>
      </div>

      <div class="col-lg-12" style="padding-bottom:20px">
        <input type="text" class="form-control" ng-model="search.$" placeholder="Search Tracks">
      </div>

      <ul class="tags">
        <li><a ng-click="filter('')" class="tag filter" href="#"><span>All</span></a>
        </li>
        <li><a ng-click="filter('rock')" class="tag filter" href="#"><span>Rock</span></a>
        </li>
        <li><a ng-click="filter('folk')" class="tag filter" href="#"><span>Folk</span></a>
        </li>
        <li><a ng-click="filter('hip hop')" class="tag filter" href="#"><span>Hip Hop</span></a>
        </li>
        <li><a ng-click="filter('country')" class="tag filter" href="#"><span>Country</span></a>
        </li>
        <li><a ng-click="filter('alternative')" class="tag filter" href="#"><span>Alternative</span></a>
        </li>
        <li><a ng-click="filter('soul')" class="tag filter" href="#"><span>Soul</span></a>
        </li>
        <li><a ng-click="filter('classical')" class="tag filter" href="#"><span>Classical</span></a>
        </li>
        <li><a ng-click="filter('pop')" class="tag filter" href="#"><span>Pop</span></a>
        </li>
        <li><a ng-click="filter('electronic')" class="tag filter" href="#"><span>Electronic</span></a>
        </li>
        <li><a ng-click="filter('ambient')" class="tag filter" href="#"><span>Ambient</span></a>
        </li>
        <li><a ng-click="filter('orchestral')" class="tag filter" href="#"><span>Orchestral</span></a>
        </li>
        <li><a ng-click="filter('beats')" class="tag filter" href="#"><span>Beats </span></a>
        </li>
        <li><a ng-click="filter('inspiring')" class="tag filter" href="#"><span>Inspiring</span></a>
        </li>
        <li><a ng-click="filter('anthemic')" class="tag filter" href="#"><span>Anthemic</span></a>
        </li>
        <li><a ng-click="filter('angelic')" class="tag filter" href="#"><span>Angelic</span></a>
        </li>
        <li><a ng-click="filter('bouncy')" class="tag filter" href="#"><span>Bouncy</span></a>
        </li>
        <li><a ng-click="filter('bright')" class="tag filter" href="#"><span>Bright</span></a>
        </li>
        <li><a ng-click="filter('burdened')" class="tag filter" href="#"><span>Burdened</span></a>
        </li>
        <li><a ng-click="filter('driving')" class="tag filter" href="#"><span>Driving</span></a>
        </li>
        <li><a ng-click="filter('playful')" class="tag filter" href="#"><span>Playful</span></a>
        </li>
        <li><a ng-click="filter('whimsical')" class="tag filter" href="#"><span>Whimsical</span></a>
        </li>
        <li><a ng-click="filter('calm')" class="tag filter" href="#"><span>Calm</span></a>
        </li>  
      </ul>
    </div>
    <div class="col-md-9 col-sm-9 col-xs-12 container list">
      <i ng-class="{'addedToCart':animation.fadeInUpOut}" class="entypo-check"></i>
      
      <div class="col-md-12 col-sm-12 col-xs-12 text-center" style="padding-bottom: 54px;">
        <span class="sidebar-heading">LIBRARY</span>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12" style="padding-top: 10px;">
      </div>
      <div class="col-sm-12 col-xs-12 library-sections" style="display: inline-block;padding-bottom: 10px;">
        <div class="col-sm-1 col-xs-1 hidden-xs"></div>
        <div class="col-sm-5 col-xs-5"><p>Track Title</p></div>
        <div class="col-sm-3 col-xs-5"><p>Genre</p></div>
        <div class="col-sm-1 col-xs-2"><p>Duration</p></div>
        <div class="col-sm-2 col-xs-2 hidden-xs"></div>
      </div>

      <div ng-repeat="track in tracks | filter:filtered | filter:search" class="col-sm-12 mix category-1 animate-repeat" style="display: inline-block;">
        <div class="col-sm-1 hidden-xs tracks">
          <i id="play" class="entypo-right-dir"></i>
        </div>
        <div class="col-sm-5 col-xs-5 tracks"><p>{{ track.title }}</p></div>
        <div class="col-sm-3 col-xs-5 tracks"><p id="genre" ng-repeat="tag in track.tags">{{ tag }}{{$last ? '' : ', '}} </p></div>
        <div class="col-sm-1 col-xs-2 tracks"><p>1:23</p></div>
        <div class="col-sm-2 col-xs-2 tracks hidden-xs"><i class="entypo-plus" id="lightboxIcon"></i><i class="entypo-down-circled" id="downloadIcon"></i><i ng-click="fadeInUpOut(); track.addToCart();" class="entypo-basket" id="cartIcon"></i></div>
      </div>
    </div>
  </div>
</div>


<!-- 
<div id="footer" class="">
    <nav class="navbar navbar-default navbar-fixed-bottom" id="audioplayer">
        <div class="navbar-inner navbar-content-center">
            <audio id="music" preload="true" onloadstart='updateTrackTime(this);' ontimeupdate='updateTrackTime(this);'>
              <source src="http://www.alexkatz.me/codepen/music/interlude.mp3">
              <source src="http://www.alexkatz.me/codepen/music/interlude.ogg">
            </audio>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 navbar-left">
            <i class="entypo-play" id="pButton" class="play" onclick="play()"></i>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-8 player">
              <p>Track Title 3<span> -Artist</span><br><small id="currentTime"></small><small> of </small><small id="duration"></small></p>
              <div id="timeline">    
                    <div id="playhead"></div>
                    <div id="playbar"></div>
              </div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 navbar-right player">
             <i class="entypo-basket" id="cart"></i>
            </div>
            </div>
            <div class="col-md-12 text-center">
              <p style="padding-top:17px"><i class="entypo-flash"></i> Made in <strong>Brooklyn</strong></p>
            </div>
        </div>
      </nav> -->
    </div>